html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  // color:#222222;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  color: #afafaf;

}


//header
header {
    background-color: #2e2828;
    width: 1519.2px;
    height: 36px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    .htop {
      width: 1200px;
      height: 36px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .hleft {
        width: 541.73px;
        height: 36px;
        display: flex;
        justify-content: space-between;
        align-items: center;
  
        li {
          height: 36px;
          display: flex;
          justify-content: center;
          align-items: center;
          a:hover {
            color: #fff;
            cursor: pointer;
          }
        }
        li::after {
          content: "";
          width: 0.5px;
          height: 10px;
          background: #414141;
          position: relative;
          top: 1px;
          left: 8px;
        }
        li:nth-of-type(8) {
          a:nth-child(2) {
            margin-left: 3px;
            width: 14px;
            height: 14px;
            background: url(../images/images/icon-common.png) no-repeat -69px 1px;
          }
          .hhide {
            display: none;
            position: absolute;
            box-shadow: 0px 2px 6px #ccc;
            border-radius: 0 0 6px 6px;
            z-index: 10;
            top: 37px;
            left: 600px;
            width: 120px;
            height: 140px;
            background-color: #fff;
            li {
              width: 120px;
              height: 35px;
  
              a {
                color: #777;
                font-size: 12px;
              }
            }
            li::after {
              content: "";
              width: 0;
            }
            li:hover {
              a {
                color: #68beff;
              }
            }
          }
        }
        li:nth-of-type(8)::after {
          content: "";
          width: 0;
        }
        li:nth-of-type(8):hover {
          background-color: #fff;
          a {
            color: #68beff;
          }
          .hhide {
            display: block;
          }
        }
      }
      .hright {
        width: 472.69px;
        height: 36px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        display: flex;
        li {
          height: 36px;
          display: flex;
          justify-content: center;
          align-items: center;
  
          a:hover {
            color: #fff;
            cursor: pointer;
          }
        }
        li::after {
          content: "";
          width: 0.5px;
          height: 10px;
          background: #414141;
          position: relative;
          top: 1px;
          left: 8px;
        }
        li:nth-of-type(1) {
          display: flex;
          justify-content: space-around;
          align-items: center;
          width: 70.1px;
          height: 36px;
        }
        li:nth-of-type(3) {
          a:nth-child(2) {
            width: 14px;
            height: 14px;
            background: url(../images/images/icon-common.png) no-repeat -69px 1px;
          }
          .hhide2 {
            display: none;
            position: absolute;
            box-shadow: 0px 2px 6px #ccc;
            border-radius: 0 0 6px 6px;
            z-index: 10;
            top: 37px;
            left: 1050px;
            width: 68px;
            height: 80px;
            background-color: #fff;
            li {
              width: 68px;
              height: 40px;
  
              a {
                color: #777;
                font-size: 12px;
              }
            }
            li:nth-of-type(1) {
              margin-left: 4px;
            }
            li::after {
              content: "";
              width: 0;
            }
            li:hover {
              a {
                color: #68beff;
              }
            }
          }
        }
        li:nth-of-type(3):hover {
          background-color: #fff;
          a {
            color: #68beff;
          }
          .hhide2 {
            display: block;
          }
        }
        li:nth-of-type(4) {
          a:nth-child(2) {
            width: 14px;
            height: 14px;
            background: url(../images/images/icon-common.png) no-repeat -69px 1px;
          }
        }
        li:nth-of-type(5) {
          a:nth-child(2) {
            width: 14px;
            height: 14px;
            background: url(../images/images/icon-common.png) no-repeat -69px 1px;
          }
        }
        li:nth-of-type(6)::after {
          content: "";
          width: 0px;
        }
      }
    }
  }
  

  //logo
  .headTop{
      box-shadow: 0 1px 10px 1px #f0f0f0;
      width:1519.2px;
      height:74px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      .layout{
          width:1200px;
          height:56px;
          display: flex;
          justify-content: space-between;
          .lleft{
              width:834.28px;
              height:56px;
              display: flex;
              justify-content: flex-start;
              .llogo{
                  width:205px;
                  height:40.8px;
                  a{
                      width:205px;
                      height:36px;
                      img{
                          width:100%;
                          height:100%;
                      }
                  }
              }
              .allList{
                  height:56px;
                  margin-right:20px;
                  margin-left:30px;
                  a:nth-of-type(1){
                      background: url(../images/all.png) no-repeat -1px -23px;
                      display: inline-block;
                      width:24px;
                      height:24px;
                      position: relative;
                      background-size: 100% 200%;;
                      top:6px;
                  }
                  a:nth-of-type(2){
                      font-size: 16px;
                      color:#3a3a3a;
                  }
              }
              .allList:hover{
                  a{
                    color:#CA141D;

                  }
              }
              .logoCenter{
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  width:442.28px;
                  height:40px;
                  li{
                      margin-right:30px;
                      a{
                          font-size:16px;
                          color:#3a3a3a;
                      }
                  }
                  li:hover{
                      a{
                        color:#CA141D;
                        cursor: pointer;
                      }
                  }
                  li:nth-of-type(1){
                      width:74px;
                      height:24px;
                      a{
                          display: inline-block;
                          width:74px;
                          height:24px;
                          img{
                              width:100%;
                              height:100%;
                          }
                      }
                  }
                  li:nth-of-type(2){
                      width:74px;
                      height:24px;
                      a{
                          display: inline-block;
                          width:74px;
                          height:24px;
                          img{
                              width:100%;
                              height:100%;
                          }
                      }
                  }
                  li:nth-of-type(3){
                    width:74px;
                    height:24px;
                    a{
                        display: inline-block;
                        width:61px;
                        height:40px;
                    }
                }
                  li:nth-of-type(4){
                    width:74px;
                    height:24px;
                    a{
                        display: inline-block;
                        width:61px;
                        height:40px;
                    }
                }
                  li:nth-of-type(5){
                    width:74px;
                    height:24px;
                    a{
                        display: inline-block;
                        width:64px;
                        height:40px;
                    }
                }
              }
          }
          .lright{
              width:240px;
              height: 30px;
              border-radius: 16px;
              background-color: #f0f0f0;
              border: 1px solid #fff;
              margin-top:8px;

              input{
                  border: 0px;
                  width:200px;
                  padding-left:100px;
                  height:28px;
                  background-color: #f0f0f0;
                  outline: none;
                  border-radius: 16px 0 0 16px;
                  text-indent: 10px;
                  color:#666666;
                  font-size: 12px;
              }
          }
      }
  }


//标题介绍
.breadcrumb{
    width:100%;
    height:28.4px;
    display: flex;
    margin-top:10px;
    justify-content: center;
    align-items: flex-end;
    .breadcrumbp{
        width:1200px;
        height:28.4px;
        a{
            font-size:12px;
            color:#3a3a3a;
        }
        span{
            color:#3a3a3a;
            font-size:12px;
        }
    }
}

//content
.content{
    width:100%;
    height:631px;
    padding-top:200px;
    display: flex;
    justify-content: center;
    align-items: center;
    .ccontent{
        display: flex;
        justify-content: space-between;
        // align-items: center;
        width:1200px;
        height:831px;
        .ccleft{
            width:450px;
            height:536px;
            .ccltop{
                position: relative;
                width:450px;
                height:450px;
                a{
                    width:450px;
                    height:536px;
                    img{
                      display: none;
                        width:100%;
                        height:100%;
                    }
                    
                   
                }
                a{
                  .active{
                    display: block;
                  }
                }
                #mark{
                    width:225px;
                    height:225px;
                    opacity: 0.5;
                    background: #eaeaea;
                    position: absolute;
                    top:0;
                    left:0;
                    display: none;
                    z-index: 100;
                    
                }
            }
            .big{
                width:450px;
                display: none;
                height:450px;
                overflow: hidden;
                border:1px solid #ccc;
                position: absolute;
                background-color: #fff;
                top:144px;
                left:640px;
                a{
                  .active{
                    display: block;
                  }
                
                img{
                    position: relative;
                    top:0;
                    left:0;
                    width:900px;
                    height:900px;
                    display: none;
                }
              }
            }
            .cclbottom{
                overflow: hidden;
                width:450px;
                height:68px;
                margin-top:18px;
                .cclbljian{
                    width:30px;
                    height:30px;
                    display: inline-block;
                    background: url(../images/icon50.png) no-repeat -48px -29px;
                    // float: left;
                    position: relative;
                    top:15px;

                }
                
                .cclbRjian{
                    display: inline-block;

                    width:50px;
                    padding-left: 6px;
                    height:68px;
                    // float: left;
                    
                    position: relative;
                    top:-104px;
                    left:414px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    // z-index: 10;
                }
                .cclbRjian::before{
                    content: "";
                    width:30px;
                    height:30px;
                    display: block;
                    position: absolute;
                    background: url(../images/icon50.png) no-repeat -78px -29px;

                }
            
                .imgcenter{
                    width:380px;
                    position: relative;
                    top:-34px;
                    left:40px;
                    overflow: hidden;
                    height:68px;
                    ul{
                        width:1850px;
                        height:68px;    
                        position: relative;
                        // display: flex;
                        // justify-content: space-between;
                        // align-items: center;
                        float: left;
                       
                        li{
                            position: relative;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            float: left;
                            padding:0 7px;
                            width:74px;
                            height:68px;
                            a{
                                width:68px;
                                height:68px;
                                img{
                                    width:60px;
                                    margin:3px 0 0 3px;
                                    height: 60px;
                                    border: none;
                                }
                            }
                        }
                        .active{
                          border:1px solid #CA141D;

                        }
                        // li:hover{
                        //     border:1px solid #CA141D;
                        // }
                    }
                }
            }
        }
        
        // 右边
        .mian-right-info {
            width: 700px;
            height: 536px;
            h2 {
              color: #3a3a3a;
              font-size: 21px;
              font-weight: normal;
              margin-bottom: 10px;
            }
            .right-title {
              height: 40px;
              font-size: 14px;
              line-height: 24px;
              margin-bottom: 12px;
              padding-right: 40px;
              span {
                color: #ca141d;
                border-bottom: 1px solid #ca151d;
                margin-right: 10px;
              }
            }
            .right-info {
              background-color: #f5f5f5;
              margin-top:30px;
              display: flex;
              flex-wrap: wrap;
              width: 700px;
              padding: 5px 0 5px 15px;
              div {
                width: 100%;
              }
              .info1 {
                display: flex;
                align-items: center;
                p {
                  margin-right: 20px;
                  color:#3a3a3a;
                  font-size: 12px;
                }
                em {
                  font-style: normal;
                  font-size: 18px;
                  font-weight: 400;
                  margin-right: 4px;
                  color: #ca141d;
                }
                span {
                  color: #ca141d;
                  padding-right: 3px;
                  font-size: 24px;
                }
              }
              .info2 {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                p {
                  margin-right: 20px;
                  color:#3a3a3a;
                  font-size: 12px;

                }
                div {
                  width: 100%;
                }
                .info2-right {
                  div {
                    color: #333333;
                    font-size: 10px;
                  }
                  i {
                    line-height: 18px;
                    border: 1px solid #ca141d;
                    padding: 0 6px;
                    min-width: 24px;
                    color: #ca141d;
                    margin-right: 10px;
                    margin-top: 5px;
                    font-style: normal;
                    line-height: 26px;
                    font-size: 10px;
                  }
                }
              }
              .info3 {
                display: flex;
                p {
                  margin-right: 20px;
                  color:#3a3a3a;
                  font-size: 12px;

                }
                ul {
                  display: flex;
                  align-items: center;
                  li {
                    margin-right: 12px;
                    color: #333333;
                    font-size: 10px;
                  }
                }
              }
              .info4 {
                display: flex;
                p {
                  margin-right: 20px;
                  color:#3a3a3a;
                  font-size: 12px;

                }
                ul {
                  display: flex;
                  align-items: center;
                  li {
                    margin-right: 12px;
                    color: #333333;
                    font-size: 10px;
                  }
                }
              }
              hr {
                width: 100%;
                color: #eaeaea;
                margin:20px 0 20px -10px;
              }
              .info5 {
                display: flex;
                p {
                  margin-top:10px;  
                  margin-right: 20px;
                  color:#3a3a3a;
                  font-size: 12px;

                }
                ul {
                  display: flex;
                  align-items: center;
                  li {
                    margin-right: 12px;
                    border: 1px solid #ca151d;
                    padding: 0 12px;
                    color: #333333;
                    font-size: 10px;
                    height: 34px;
                    width: 92px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    background: url(../images/ia_100000097.png) no-repeat 0 center;
                    background-size: 30px 30px;
                  }
                }
              }
              .info6 {
                  margin:10px 0 10px 0;
                display: flex;
                p {
                  margin-right: 20px;
                  color:#3a3a3a;
                  font-size: 12px;

                }
                ul {
                    background-color: #fff;
                  display: flex;
                  align-items: center;
                  border:1px solid #ccc;

                  li {
                    margin-right: 12px;
                    color: #333333;
                    font-size: 10px;
                  }
                }
              }
              .info7 {
                display: flex;
                p {
                  margin-right: 20px;
                  color:#3a3a3a;
                  font-size: 12px;

                }
                ul {
                  display: flex;
                  align-items: center;
                  li {
                    margin-right: 12px;
                    color: #333333;
                    font-size: 10px;
                  }
                }
              }
              .purchase {
                display: flex;
                width: 685px;
                position: relative;
                input {
                  width: 42px;
                  height: 44px;
                  font-size: 16px;
                  border: #a4a4a4 1px solid;
                  outline: 0;
                  text-align: center;
                  box-sizing: border-box;
                }
                p {

                  position: absolute;
                  left: 42px;
                  top: 0px;
                  .add,
                  .reduce {
                    display: block;
                    background-color: #fff;
                    width: 21px;
                    height: 22px;
                    font-size: 16px;
                    color: #666666;
                    line-height: 22px;
                    text-align: center;
                    font-weight: bold;
                    border: #a4a4a4 1px solid;
                    border-left: 0;
                    cursor: pointer;
                  }
                }
                > .car {
                  width: 172px;
                  background: #fc600c;
                  margin-left: 31px;
                  height: 46px;
                  font-size: 18px;
                  line-height: 46px;
                  color: #fff;
                  border-radius: 2px;
                  border: 0;
                  cursor: pointer;
                  &:hover {
                    opacity: 0.8;
                  }
                }
                > .order {
                  width: 131px;
                  background: #ca151d;
                  margin-left: 10px;
                  height: 46px;
                  font-size: 18px;
                  line-height: 46px;
                  color: #fff;
                  border-radius: 2px;
                  border: 0;
                  cursor: pointer;
                  &:hover {
                    opacity: 0.8;
                  }
                }
              }
            }
          }

        
    }
}



// 相关介绍
.bottom {
  width: 1519.2px;
  height: 82px;
  background: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  ul {
    width: 1200px;
    height: 82px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      width: 324.8px;
      height: 40px;
      display: flex;
      align-items: center;
      a:nth-of-type(2) {
        color: #3a3a3a;
        font-size: 18px;
        // background: url(../images/images/icon.png) no-repeat ;
        // background-size: 40px 40px;
      }
      a:nth-of-type(1) {
        background: url(../images/images/icon.png) no-repeat -74px 0px;
        width: 40px;
        display: inline-block;
        height: 40px;
        position: relative;
        left: -10px;
      }
    }
    li:nth-child(2) {
      a:nth-of-type(1) {
        background: url(../images/images/icon.png) no-repeat -114px 0px;
        width: 40px;
        display: inline-block;
        height: 40px;
        position: relative;
        left: -10px;
      }
    }
    li:nth-child(3) {
      a:nth-of-type(1) {
        background: url(../images/images/icon.png) no-repeat -154px 0px;
        width: 40px;
        display: inline-block;
        height: 40px;
        position: relative;
        left: -10px;
      }
    }
    li:nth-child(4) {
      a:nth-of-type(1) {
        background: url(../images/images/icon.png) no-repeat -194px 0px;
        width: 40px;
        display: inline-block;
        height: 40px;
        position: relative;
        left: -10px;
      }
    }
  }
}

//相关维修信息
.service_container {
  width: 1519.2px;
  height: 221px;
  background: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  .scbox {
    width: 1200px;
    height: 221px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .service {
      overflow: hidden;
      width: 921px;
      height: 160px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      border-right: 1px solid #e5e5e5;
      dl {
        width: 153.32px;
        height: 114.2px;
        dt {
          font-size: 14px;
          color: #3a3a3a;
          width: 153.32px;
          height: 27.8px;
        }
        dd {
          width: 153.32px;
          height: 21.6px;
          a {
            font-size: 12px;
            color: #777;
          }
          a:hover {
            color: #ca141d;
          }
        }
      }
      dl:nth-of-type(6) {
        dt {
          span:nth-of-type(1) {
            display: inline-block;
            width: 10px;
            height: 14px;
            background: url(../images/images/icon03.png) no-repeat -76px 2px;
          }
          span:nth-of-type(2) {
            display: inline-block;
            width: 10px;
            height: 14px;
            background: url(../images/images/icon03.png) no-repeat -66px 2px;
            position: relative;
            left: -3px;
            top: -0.1px;
          }
        }
      }
    }
    .service_right {
      width: 278px;
      height: 160px;
      display: flex;
      flex-flow: column;
      align-items: center;
      .srtop {
        width: 279px;
        height: 101.6px;
        display: flex;
        align-items: center;
        flex-flow: column;
        dt {
          width: 279px;
          height: 36px;

          p {
            display: flex;
            justify-content: center;
            color: #575757;
            font-size: 24px;
            font-weight: bold;
          }
        }
        dd {
          display: flex;
          justify-content: center;
          color: #575757;
          font-size: 14px;
          width: 279px;
          height: 21.6px;
        }
        dd:nth-of-type(2) {
          width: 279px;
          height: 34px;
          display: flex;
          align-items: center;
          a {
            width: 170px;
            height: 34px;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            background-color: #333;
            border-radius: 17px;
            margin-top: 20px;
          }
          a:hover {
            opacity: 0.7;
          }
        }
      }
      .srbottom {
        width: 250px;
        height: 24px;
        margin-top: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        h2 {
          font-size: 14px;
          color: #333;
          margin-right: 15px;
        }
        .srul {
          display: flex;
          justify-content: space-between;
          align-items: center;
          li {
            margin-left: 8px;
          }
          li:nth-of-type(1) {
            a {
              display: inline-block;
              width: 24px;
              height: 24px;
              background: url(../images/images/icon03.png) no-repeat -125px 2px;
            }
          }
          li:nth-of-type(2) {
            a {
              display: inline-block;
              width: 24px;
              height: 24px;
              background: url(../images/images/icon03.png) no-repeat -148px 2px;
            }
          }
          li:nth-of-type(3) {
            a {
              display: inline-block;
              width: 24px;
              height: 24px;
              background: url(../images/images/icon03.png) no-repeat -172px 2px;
            }
          }
          li:nth-of-type(4) {
            a {
              display: inline-block;
              width: 24px;
              height: 24px;
              background: url(../images/images/icon03.png) no-repeat -197px 2px;
            }
          }
        }
      }
    }
  }
}

//右侧导航栏
.leftnav {
  width: 38px;
  // background: #fff;
  position: fixed;
  bottom: 60px;
  right: 10px;
  .leftnavbox {
    width: 38px;
    height: 120px;
    // background-color: #fff;
    a {
      display: block;
      width: 38px;
      height: 38px;
      i {
        display: block;
        width: 70px;
        height: 36px;
        color: #777;
        font-size: 12px;
        background-color: #fff;
      }
      span {
        display: none;
        width: 0;
        height: 0;
        border-left: 8px solid #fff;
        border-bottom: 5px solid transparent;
        border-top: 5px solid transparent;
        position: relative;
        left: -10px;
        top: -22px;
      }
      .i1 {
        position: relative;
        left: -79px;
        display: none;
        text-align: center;
        line-height: 36px;
      }
      .i2 {
        position: relative;
        left: -79px;
        display: none;
        text-align: center;
        line-height: 36px;
      }
      .i3 {
        position: relative;
        left: -79px;
        display: none;
        text-align: center;
        line-height: 36px;
      }
      .i4 {
        position: relative;
        left: -79px;
        display: none;
        text-align: center;
        line-height: 36px;
      }
    }
    a:nth-of-type(1) {
      background: url(../images/images/icon-common.png) no-repeat 0 -76px;
      background-color: #fff;
      #hides{
        color: #fff;
        min-height:18px;
        display: none;
        font-size: 12px;
        min-width:18px;
        border-radius: 50%;
        text-align: center;
        line-height: 18px;
        position: absolute;
        background: #ca141d;
        top:-2px;
        left:19px;
        z-index: 9999;
      }
    }
    a:nth-of-type(1):hover {
      .i1 {
        display: block;
      }
      .s1 {
        display: block;
      }
    }
    a:nth-of-type(2):hover {
      .i2 {
        display: block;
      }
      .s2 {
        display: block;
      }
    }
    a:nth-of-type(3):hover {
      .i3 {
        display: block;
      }
      .s3 {
        display: block;
      }
    }
    a:nth-of-type(4):hover {
      .i4 {
        display: block;
      }
      .s4 {
        display: block;
      }
    }

    a:nth-of-type(2) {
      background: url(../images/images/icon-common.png) no-repeat -37px -76px;
      background-color: #fff;
    }
    a:nth-of-type(3) {
      background: url(../images/images/icon-common.png) no-repeat -76px -76px;
      background-color: #fff;
    }
    a:nth-of-type(4) {
      background: url(../images/images/icon-common.png) no-repeat -113px -76px;
      background-color: #fff;
    }
  }
}

//footer
footer {
  width: 1519.2px;
  height: 114px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f9f9f9;
  .foot {
    width: 1200px;
    height: 114px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .footleft {
      width: 102px;
      height: 23px;
      a {
        display: inline-block;
        width: 82px;
        height: 20px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .footcenter {
      width: 756px;
      height: 61px;

      ul {
        width: 728.26px;
        height: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        li {
          padding-right: 6px;
          height: 12px;
          border-right: 1px solid #d3d3d3;
          line-height: 12px;
          display: flex;
          align-items: center;
          a {
            color: #777;
            font-size: 12px;
          }
          a:hover {
            color: #ca141d;
          }
        }
        li:nth-of-type(10) {
          border: none;
        }
      }
      a {
        color: #a4a4a4;
        font-size: 12px;
      }
      a:hover {
        color: #ca141d;
      }
      span {
        color: #a4a4a4;
        font-size: 12px;
      }
      em {
        overflow: hidden;
        display: inline-block;
        height: 16px;
        width: 3px;
      }
    }
    .footright {
      width: 70px;
      height: 24px;
      position: relative;
      left: 272px;
      bottom: 20px;
      a {
        width: 70px;
        display: inline-block;
        height: 24px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}






